<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <h1>Upload your images and .rtf/.txt file</h1>
    <form action="/process/" enctype="multipart/form-data" method="post">
        <label for="start_number">Start number (e.g. 3200):</label><br>
        <input type="number" id="start_number" name="start_number" required><br><br>

        <label for="template">Paste your template:</label><br>
        <textarea id="template" name="template" rows="10" cols="60" required></textarea><br><br>

        <label for="rtf_file">Upload .rtf or .txt file:</label><br>
        <input type="file" id="rtf_file" name="rtf_file" accept=".rtf,.txt" required><br><br>

        <label for="jpg_images">Upload JPG images:</label><br>
        <input type="file" id="jpg_images" name="jpg_images" accept=".jpg,.jpeg" multiple required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>